.accessories__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
  align-items: start;
}

@media screen and (min-width: 720px) {
  .accessories__container {
    row-gap: 50px;
  }
}
